In [48]:
import numpy as np 
import pandas as pd

In [49]:
df = pd.read_csv('Downloads\Data_Science_Topics_Survey.csv')
df.head()

,Timestamp,What's your level of interest for the following areas of Data Science? [Data Visualization],What's your level of interest for the following areas of Data Science? [Machine Learning],What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics],What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)],What's your level of interest for the following areas of Data Science? [Data Journalism],What's your level of interest for the following areas of Data Science? [Deep Learning]
0,2017/10/17 1:11:52 PM MDT,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,2017/10/17 2:26:07 PM MDT,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,2017/10/17 2:37:08 PM MDT,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,2017/10/17 2:39:26 PM MDT,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,2017/10/17 2:43:59 PM MDT,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested

In [50]:
df1 = df.drop(['Timestamp'],axis=1)
df1.head()

,What's your level of interest for the following areas of Data Science? [Data Visualization],What's your level of interest for the following areas of Data Science? [Machine Learning],What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics],What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)],What's your level of interest for the following areas of Data Science? [Data Journalism],What's your level of interest for the following areas of Data Science? [Deep Learning]
0,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested

In [51]:
df1=df1.rename(columns={"What's your level of interest for the following areas of Data Science? [Data Visualization]":"Data Vizualization",
                        "What's your level of interest for the following areas of Data Science? [Machine Learning]":"Machine Learning",
                        "What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics]":"Data Analysis/Statistics",
                        "What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)]":"Big Data(Spark/Hadoop)",
                        "What's your level of interest for the following areas of Data Science? [Data Journalism]":"Data Journalism",
                        "What's your level of interest for the following areas of Data Science? [Deep Learning]":"Deep Learning"})

In [53]:
df1.head()

,Data Vizualization,Machine Learning,Data Analysis/Statistics,Big Data(Spark/Hadoop),Data Journalism,Deep Learning
0,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested

In [20]:
print(df1.shape)

(2233, 6)

In [54]:
df1['Data Journalism'].value_counts()

Somewhat interested    1081
Not interested          610
Very interested         429
Name: Data Journalism, dtype: int64

In [55]:
df1=df1.apply(pd.Series.value_counts)

In [57]:
print(df1)

                     Data Vizualization  Machine Learning  \
Not interested                      102                74
Somewhat interested                 734               477
Very interested                    1340              1629

                     Data Analysis/Statistics  Big Data(Spark/Hadoop)  \
Not interested                             60                     127
Somewhat interested                       444                     729
Very interested                          1688                    1332

                     Data Journalism  Deep Learning
Not interested                   610            136
Somewhat interested             1081            770
Very interested                  429           1263

In [58]:
df1.transpose()

                          Not interested  Somewhat interested  Very interested
Data Vizualization                   102                  734             1340
Machine Learning                      74                  477             1629
Data Analysis/Statistics              60                  444             1688
Big Data(Spark/Hadoop)               127                  729             1332
Data Journalism                      610                 1081              429
Deep Learning                        136                  770             1263